* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 190, 236);
    padding: 12px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uno {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 12px;
}

#dos {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 12px;
    border: 1px solid;
    padding: 12px;
}

.cajita {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 800px;
    margin: 12px;
    gap: 8px;
    border-radius: 4px;
}

.tarjetita {
    width: 50%;
    border: 1px solid;
    padding: 12px;
    border-radius: 4px;
}

#cinco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 12px;
    border: 2px solid;
    padding: 12px;
}